<html>
    <head>
       <link rel="stylesheet" type="text/css" href="/css/style.css" />
       <title>Number guessing game</title>
    </head>
    <body>
        <div id="stage">
            <div id="background"></div>
            <div id="cannon"></div>
            <div id="missile"></div>
            <div id="alien"></div>
       </div>
       
       <p id="output">Enter the X and Y position (0–300), then click fire.</p>
       <input id="inputX" type="text" placeholder="X...">
       <input id="inputY" type="text" placeholder="Y...">
       <button>fire!</button>
       <script type="text/javascript" src="/game/gameAlien.js"></script>
    </body>
</html>